{% extends "template.html" %}
{% block title %}
<h2>出缺席管理</h2>
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                <h2>會議列表</h2>
            </div>

            <div class="list-group" style="max-height: 300px; margin-top: 5px" id="meetingList">
                {% for meeting in meetingList %}
                    <button type="button" class="list-group-item list-group-item-action meetingBtn" data-id="{{meeting[0]}}" >{{meeting[1]}}</button>
                {% endfor %}
            </div>

        </div>
        <div class="col-9" id="inputArea" style="display: none">
            <form method="post" action="{{url_for('submitAbsent')}}">
                <div class="container">
                    <h2>功能列</h2>
                    <button type="submit" class="btn btn-success text-end ms-auto">儲存</button>
                </div>
                <div class="container">
                    <h2>與會人員列表</h2>
                    <h5>(打勾代表有出席)</h5>
                </div>
                <div class="container">
                    <div id="checkBoxArea" style="border:gray dashed; width:400px; background-color:#fafafa;">
                    </div>
                </div>

                <input type="text" style="display: none" class="form-control" id="meetingId" name="meetingId" readonly="readonly">
            </form>
        </div>
    </div>
</div>


{% with messages  = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        $(document).ready(function (){
                toastr['success']('成功儲存出缺席紀錄', '成功');
        });
    </script>
    {%endif%}
{% endwith %}


<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#meetingList").on('click', '.meetingBtn', function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        $("#inputArea").attr('style','');
        $("#checkBoxArea").html("");
        if(document.getElementById("choice"))
        {
            document.getElementById("choice").classList.remove("active");
            document.getElementById("choice").disabled="";
            document.getElementById("choice").id="";
        }
        this.id="choice";
        this.classList.add("active");
        this.disabled="disabled";
        $("#meetingId").val($("#choice").data("id"))
        var meetingQuery = new FormData();
        meetingQuery.append('meetingId', $("#choice").data("id"));
        $.ajax({
              type: "POST",
              url:$SCRIPT_ROOT+"/getAbsent",
              data: meetingQuery,
              success:function(data){
                  if (data.attendeeList.length!=0){
                      for(var i =0 ;i<data.attendeeList.length;i++){
                        $("#checkBoxArea").append($("#checkBoxOfAttendee").html());
                        $("#newCheckBox").val(data.attendeeList[i][0]);
                        $("#newCheckBox").prop("checked",data.attendeeList[i][2])
                        $("#newCheckBox").attr("id","")
                        $("#memberName").text(data.attendeeList[i][1]);
                        $("#memberName").attr("id","");
                      }
                  }
                  else{
                      $("#checkBoxArea").append('<h5>此會議尚未設定與會人員</h5>')
                  }


                },
              contentType: false,
              processData: false,
              dataType: "json"
        });
    });


</script>

<script id="checkBoxOfAttendee">
    <div className="form-check">
        <input className="form-check-input" type="checkbox" value="" id="newCheckBox" name="present">
            <label className="form-check-label" id="memberName" htmlFor="newCheckBox">
            </label>
    </div>
</script>

{% endblock content %}


